<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="bg-zinc-50 min-h-screen flex items-center justify-center font-medium flex-col">
    <%- include('../partials/nav') %>
        <div class="bg-white rounded-lg shadow-md p-8 mt-8 max-w-xl w-full">
            <div class="mb-6">

                <h1 class="text-2xl font-bold text-zinc-800 mt-2">Reset Your Password</h1>
            </div>

            <form class="space-y-4" action="/auth/reset-password/<%= token %>" method="POST">
                <div class="bg-indigo-50 p-4 rounded-md">
                    <p class="text-sm font-medium text-gray mb-2">Password must:</p>
                    <ul class="text-sm text-zinc-600 space-y-1">
                        <li class="flex items-center">
                            <svg class="h-4 w-4 text-indigo-500 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            Be at least 6 characters long
                        </li>
                        <li class="flex items-center">
                            <svg class="h-4 w-4 text-indigo-500 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            Contain a number, special characters
                        </li>
                        <li class="flex items-center">
                            <svg class="h-4 w-4 text-indigo-500 mr-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            Include uppercase and lowercase letters
                        </li>
                    </ul>
                </div>
                <div>
                    <label for="new-password" class="block text-sm font-medium text-gray mb-1">Enter your new
                        password</label>
                    <input type="password" id="new-password" name="newPassword"
                        class="w-full px-4 py-2 border border-zinc-500/30 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>

                <div>
                    <label for="confirm-password" class="block text-sm font-medium text-gray mb-1">Confirm your new
                        password</label>
                    <input type="password" id="confirm-password" name="confirmNewPassword"
                        class="w-full px-4 py-2 border border-zinc-500/30 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>

                <div class="error">
                    <%- include('../partials/error') %>
                </div>

                <button type="submit"
                    class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors">
                    Reset Password
                </button>
            </form>
        </div>
</body>

</html>