<footer
    class="bg-primary border-t border-zinc-500/20 text-dark pt-6 text-dark px-4 transition-all duration-300 md:ml-[270px] pb-5">
    <div
        class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-wrap gap-3 justify-between items-center">

        <!-- Logo and Name -->
        <div class="">
            <a href="/" class="text-xl text-orange-600 font-semibold text-dark">NepTask</a>
            <p class="text-sm">Simplify your productivity.</p>
        </div>
        <!-- Bottom copyright -->
        <div class="text-center text-sm text-gray">
            © <span id="year">
                <%= new Date().getFullYear() %>
            </span> NepTask. All rights reserved.
        </div>
        <!-- Links -->
        <div class="flex sm:space-x-6 flex-wrap gap-3">
            <a href="/" class="hover:text-orange-600 transition">Home</a>
            <a href="/task" class="hover:text-orange-600 transition">My Tasks</a>
            <a href="/dashboard" class="hover:text-orange-600 transition">Dashboard</a>
            <a target="_blank" href="https://github.com/AkkalDhami" class="hover:text-orange-600 transition">Github</a>
        </div>
    </div>




</footer>